<div id="store-<%= store.id %>" class="row  follow-friend-block">
  <div class="col-xs-6">
    <%= render 'shared/store_cover_photo', store: store %>
    <span class="name"><%= link_to store.store_name, store %></span>
  </div>
  <div class="col-xs-6  text-xs-right">
    <div class="follow">
      <%= render 'follows/store_form', store: store %>
    </div>
  </div>
</div>