
<div id="user-<%= user.id %>" class="row follow-friend-block" >
  <div class="col-xs-6">
    <%= render 'shared/avatar', user: user %>
    <span class="name"><%= link_to user.name, user %></span>
  </div>
  <div class="col-xs-6 text-xs-right">
    <div class="follow">
      <%= render 'follows/form', user: user %>
    </div>
  </div>
</div>


