 <div class="m-b-1">
    <%= link_to "一起胖", food_path,class: "nav-link",class:"nav-link notuse filter p-x-1" %>|
   	<%= link_to "粗乃玩", play_path ,class: "nav-link",class:"nav-link used filter p-x-1"%>|
    <%= link_to "網購優", online_path ,class: "nav-link",class:"nav-link overdue filter p-x-1" %>
 </div>