<h6 class="page_title"><span>Ｑ胖優惠</span></h6>
<p style="font-size:16px;">Ｑ胖平台所有優惠卷:</p>
<div class="card-deck-wrapper">
  	<div class="card-deck coupons"> 
		<%= render partial: "coupons/coupon" , collection: @coupons || render('shared/no_resource', resources: '相關優惠卷')  %>
	</div>
	<%= render 'shared/paginate', resources: @coupons %>
</div>