<h5 class="m-t-2 m-b-2 recommand-title">名人推薦</h5>

<div class="background-white col-sm-9">
	<h5 class="m-t-2"><strong>Yahoo 鴉埠咖啡＿一家很有特色的咖啡廳</strong></h5>
	<p style='color:grey; font-size:10px '>2016.11.24</p>
	<%= image_tag 'recommand_food.jpg', style:'max-height:392px; max-width:100%;'%>
	<div>
		<p class="m-t-2 m-b-0">咖啡廳的Coding日常</p>
		<p class="m-b-0">但此時此刻我只想當床的一灘爛肉</p>
		<p>平日上班週末繼續工作超崩潰</p>
		<p class="m-t-3 m-b-0">一家很有特色的咖啡廳</p>
		<p class="m-b-0">對有年代的傢俱情有獨鍾</p>
		<p class="m-b-0 orange-word">#cappuccino #玫瑰奶茶</p>
		<p class="m-b-3 orange-word">#吉諾瓦三明治</p>
		<hr>
		<h6><strong>Yahoo 鴉埠咖啡</strong></h6>
		<p class="m-b-0">地址：台北市大安區永康街41巷26號</p>
		<p class="m-b-2">電話：(02) 2391-2868</p>
	</div>
</div>
<div class="col-sm-3 recommand-writer">
	<div class="col-xs-4 col-sm-12 p-x-0">
		<%=image_tag 'yawen.jpg',style:'width:100%;' %>
	</div>
	<div class="col-xs-8 col-sm-12 writer-content">
		<p class="writer-name m-t-2">Yawen</p>
		<hr>
		<p class="m-b-0">知名部落客，任職Vogue</p>
		<p class="m-b-0">喜歡研究彩妝和韓劇</p>
		<p class="m-b-3">尤其是Infinite</p>

		<p class="writer-new">最新文章</p>
		<hr>
		<%= link_to '小確幸的週末＿提拉米蘇配文案', recommend2_path %><br>
		<div class="m-t-1"></div>
		<%= link_to 'Yahoo 鴉埠咖啡＿一家很有特色的咖啡廳', recommend_path  %>
	</div>
</div>