<h5 class="m-t-2 m-b-2 recommand-title">名人推薦</h5>

<div class="background-white col-sm-9">
	<h5 class="m-t-2"><strong>小確幸的週末＿提拉米蘇配文案</strong></h5>
	<p style='color:grey; font-size:10px '>2016.11.28</p>
	<%= image_tag 'recommand_food2.jpg', style:'max-height:392px; max-width:100%;'%>
	<div>

		<p class="m-t-2 m-b-0">久違的週末，文案的地獄</p>
		<p class="m-b-0">精緻提拉米蘇配上平價咖啡</p>
		<p>小小口福大大滿足！</p>

		<p class="m-t-2 m-b-0">每天都有小確幸</p>
		<p class="m-b-0">一天會比一天還要更好</p>
		
		<p class="m-b-0 m-t-1 orange-word">#提拉米蘇</p>
		<p class="m-b-0 orange-word">#立刻買兩盒回家！</p>
		<p class="m-b-3 orange-word">#黑岩優格乳酪蛋糕</p>
		
		<hr>
		<h6><strong>Qoupon提拉米蘇</strong></h6>
		<p class="m-b-0">地址：台北市政治大學</p>
		<p class="m-b-2">電話：0912-030-121</p>
	</div>
</div>
<div class="col-sm-3 recommand-writer">
	<div class="col-xs-4 col-sm-12 p-x-0">
		<%=image_tag 'frank.jpg',style:'width:100%;' %>
	</div>
	<div class="col-xs-8 col-sm-12 writer-content">
		<p class="writer-name m-t-2">Frank</p>
		<hr>
		<p class="m-b-0">知名部落客，就讀政治大學</p>
		<p class="m-b-0">喜歡研究lol</p>
		<p class="m-b-0">觀察小事物是我的興趣</p>
		<p class="m-b-0">專長是拍攝及剪接影片</p>
		<p class="m-b-3">尤其是文藝影片</p>

		<p class="writer-new">最新文章</p>
		<hr>
		<%= link_to '小確幸的週末＿提拉米蘇配文案', recommend2_path %><br>
		<div class="m-t-1"></div>
		<%= link_to 'Yahoo 鴉埠咖啡＿一家很有特色的咖啡廳', recommend_path  %>
		
	</div>
</div>