<div class="contract-content-bgcolor p-t-2 p-b-2">
<h3 class="text-xs-center">會約合約書</h3>
    <ol>
        <li>
            <p>會員合約與規範調整說明</p>
            <p>
                Qoupon網站服務（以下稱「本服務」）是由「Qoupon國際資訊股份有限公司」（以下稱「Qoupon」）所建置及提供之服務，所有使用本服務的使用者（以下稱「會員」），都應詳細閱讀下列約定條款，以下服務約定條款構成會員與Qoupon間之合約，會員完成註冊、或開始使用本服務時，即視為會員已閱讀、暸解、並同意以下所有約定條款的所有內容：
            </p>
            <ul>
                <li>
                    會員合約 除本文件所約定之內容外，Qoupon已經公佈及將來可能公佈之使用規範、辦法、處理原則、政策、及相關服務說明等，均為會員合約的一部份；會員除須同意並遵守本文件所約定之內容外，並應同意並遵守該等已經公佈及將來可能公佈之使用規範、辦法、處理原則、政策、及相關服務說明。 Qoupon得隨時修改會員合約之約定內容，包括修改已經公佈及將來可能公佈之使用規範、辦法、處理原則、政策、及相關服務說明等；修改後之內容，除另有說明者外，自公告時起生效。自生效日起，如會員繼續使用本服務，即視為會員已閱讀、暸解、並同意修改後的所有內容；如會員不同意修改後之內容，Qoupon得終止合約，且不因此而對會員負任何賠償或補償之責任。
                </li>
                <li>
                    會員及註冊 會員必須是具備完全行為能力的自然人、或合法登記的法人或團體。若會員為未成年人，應由其法定代理人閱讀、暸解、並同意會員合約之所有約定內容及其修改後之內容，始得開始使用或繼續使用本服務；如會員開始使用或繼續使用本服務，即推定其法定代理人已閱讀、暸解、並同意會員合約之所有約定內容及其修改後之內容。 會員應完成註冊程序，包括填寫會員資料、以及提供註冊流程中所要求之相關文件或資料。會員欲使用本服務之所有功能者，並應依本服務當時所訂之方式完成會員認證；以一般會員或法人會員身份註冊者，應完成facebook認證，以法人會員身份註冊者，應完成email認證及書面認證。 會員應擔保其所提供的所有資料，均為正確且即時的資料，且不得以第三人之名義註冊為會員；如會員所提供的資料事後有變更，會員應即時更新其資料。如會員未即時提供資料、未按指定方式提供資料、所提供之資料不正確或與事實不符、或未即時更新資料，Qoupon得不經事先通知，隨時拒絕、或暫停對該會員提供本服務之全部或一部。 會員有自行妥善保管其帳號及密碼之義務，不得提供或透露予第三人保管或使用；對於使用特定帳號及密碼登入本服務系統後之所有行為，推定為該帳號持有人自己之行為。會員如果發現或懷疑其帳號或密碼被第三人冒用或不當使用，會員應立即通知Qoupon。 Qoupon得限制同一自然人或法人所得申請註冊之會員帳號數量；對於註冊成為會員之申請，Qoupon並保留是否同意其註冊之權利。
                </li>
                <li>
                    網路交易平台服務 Qoupon僅提供網路票券交換服務，供會員自行刊載物件。Qoupon上所刊載之物件、說明內容、及相關訊息，包括所刊載之廣告，均係由會員自行提供、上載、及發布，並由本服務系統自動刊載於網站，Qoupon並未事先過濾或審查其內容，對於其內容之真實性、合法性、即時性等，不負任何明示或默示之承諾或擔保。但會員所刊載之物件、說明內容、或相關訊息等，如有違反法令、違背公序良俗、侵害第三人權益、或違反會員合約之虞之情形，Qoupon得不經事先通知，直接加以移除、使之無法被存取、或採取其他限制性措施。 會員同意，Qoupon得定時或不定時寄送與會員服務或行銷活動有關之訊息予會員。 會員在Qoupon所進行的所有線上活動有關之事項，會員和Qoupon都同意以電子文件為表示方法。
                </li>
                <li>
                    費用： 刊載於Qoupon之票券發放完畢後，應依當時所定之「Qoupon成交手續費收費辦法」支付成交手續費。 於Qoupon所購買之廣告，應依當時所定之「廣告政策」支付廣告費。 會員使用Qoupon之其他付費服務或功能時，應依當時所定之收費辦法支付費用。 Qoupon得隨時新增、調整或變更收費項目及收費標準。 會員有應付費用發生時，將由Qoupon計費中心通知會員確認相關費用明細及金額，會員應於Qoupon所定之期限內完成相關費用明細及金額之確認、並於確認後即時完成應付費用之繳付，會員未依限完成確認、或未即時完成應付費用之繳付者，Qoupon得依「會員未確認費用明細及金額、或未繳納應付費用之處理原則」，限制會員所能使用功能之全部或一部，並得暫停或終止該會員之Qoupon帳號。
                </li>
                <li>
                    行為規範： 會員使用Qoupon之相關服務及功能時，應使用自己之會員帳號及密碼登入系統，不得以任何方式轉讓或授權他人使用自己之會員帳號（包括信用評價）。 會員如發現其他會員有違反法令、或違反會員合約或相關行為規範之行為，可以向Qoupon提出檢舉。 會員刊載出售物件時，應注意其是否有出售該商品或服務之權利或資格、以及所出售商品或服務之合法性，並應適當說明所刊載物件之交易條件及相關資訊，不得有誇大、不實、或引人錯誤或誤信之情形。會員就特定物件出價前，應注意審閱其交易條件及相關資訊，評估賣家履行交易之誠信及能力。物件成交後，交易雙方應即以最大誠信履行、並完成交易。 會員不得在交易過程中採取不正當競爭行為、不得妨害或干擾網站的正常運作（例如駭客行為），亦不得濫發廣告電子郵件。 會員在Qoupon之所有行為及言論，均應遵守法令規定及會員合約之約定。 會員不應在Qoupon上惡意毀謗其他會員，或採取不正當手段提高自己的信用評價或降低其他會員的信用評價。 會員不得在Qoupon刊載或發布任何涉及違反法令或公序良俗、或侵害第三人權益、或Qoupon認為不適合在本服務刊載或發布之物件或訊息。具體例示內容詳見「法令禁止限制規範項目」以及「Qoupon網站政策」。 對於會員在Qoupon所刊載或發布的下列各類資訊Qoupon得不經事先通知，直接加以移除、使之無法被存取、或採取其他限制性措施： 以規避或協助規避應付費用為目的之資訊； 以炒作或不當提高信用評價為目的之資訊； Qoupon有理由相信已涉及惡意、欺詐、或虛偽內容之資訊； Qoupon有理由相信與物件交易無關、或非以物件交易為目的之資訊； Qoupon有理由相信已涉及惡意競價、或其他試圖擾亂正常交易秩序之資訊。 會員不因其加入成為Qoupon之會員而取得Qoupon任何智慧財產權之明示或默示之授權，非事先經Qoupon書面同意，會員不得使用、重製、或散布Qoupon上任何形式的著作、資料、商標、或標識。
                </li>
                <li>
                    停權及終止： Qoupon發現、或接獲第三人之檢舉或通知，認為會員之行為、交易、或其所刊載之相關物件或訊息，有違背法令或公序良俗、或侵害第三人之權益、或違反會員合約或其相關規範或規則之虞者，為維護Qoupon及第三人之權益、或避免損害或爭議擴大，Qoupon得不經事先通知，先行移除所涉及之物件或資料、或使之無法被存取，並得暫停該會員所能使用之服務或功能之全部或一部，且得取消其會員資格、終止會員合約；其涉及違反法令者，並得主動將會員資料及相關交易資料或資訊，移送相關司法機關調查，或依法配合相關司法機關調查。 Qoupon得隨時在網站上公告停權的會員名單。 會員違反法令、侵害第三人之權益、或違反會員合約者，對於Qoupon及第三人因此所受之損害，應負賠償責任。 會員因故被停權或取消會員資格者，對於該會員於停權或取消會員資格以前之交易相關行為，依下列原則處理： 該會員被停權或取消會員資格以前，已經上傳至Qoupon，Qoupon得刪除該等物件及其相關資訊。
                </li>
                <li>
                    系統維護及服務中斷： Qoupon將盡力維護本服務系統之正常運作，使會員之交易活動得以順利進行，但本服務僅依其現況提供服務，對於下列事項，Qoupon不負任何明示或默示之承諾或保證： 符合會員之特定需求； 系統及軟體得以不受干擾地持續運作； 資料得以被即時、正確無誤地傳輸、處理、儲存及備份； 系統、軟體及資料之錯誤，將被即時發現及更正。 本服務系統因進行例行性維護、搬遷、更換、升級、或維修，致本服務暫停或中斷時，Qoupon將於暫停或中斷前，以電子郵件或公告之方式，告知會員。 本服務因故暫停或中斷時，相關交易之後續處理方式，適用「服務中斷政策」之約定。
                </li>
                <li>
                    授權 會員上載、傳送或提供物件資料或其他相關資料至Qoupon時，視為會員已同意授權Qoupon得利用、儲存及刊載該等資料，以供特定或不特定之使用者搜尋及瀏覽，並得經由平面或電子形式，重製、散布、公開播送、公開上映、改作、編輯、公開發行、公開發表、或公開傳輸該等資料，並得將該等權利轉授權予第三人。會員上載、傳送或提供物件資料或其他相關資料至Qoupon時，應擔保其有上載、傳送或提供該等資料之權利，且得授權Qoupon、儲存、刊載、供特定或不特定之使用者搜尋及瀏覽、重製、散布、公開播送、公開上映、改作、編輯、公開發行、公開發表、或公開傳輸該等資料，且得將該等權利轉授權予第三人。 為維護智慧財產權人之合法權益，會員發現其他會員所刊載或發布之物件或相關訊息，有侵害智慧財產權之情形者，得提出檢舉或通知。
                </li>
                <li>
                    責任限制： 因下列情形所致之服務暫停或中斷、交易無法進行、資料遺失或毀損、或其他因此所生之所有直接或間接損害，除因Qoupon之故意或重大過失所致者外，Qoupon不負賠償責任： 因本服務系統進行例行性維護、搬遷、更換、升級、或維修所致者； 因備分錯誤或失敗所致之資料遺失或毀損； 因第三人之行為、非本公司所得完全控制、或不可歸責於本公司之事由所致者； 因天災或其他不可抗力所致者； 會員瞭解並同意，如Qoupon依法應對會員負損害賠償責任，除因故意或重大過失所致者外，Qoupon對會員之損害賠償責任，以會員於該事件中所支付予Qoupon之費用為上限。
                </li>
                <li>
                    準據法及管轄： 本會員合約及其相關使用規範、辦法、處理原則、政策、及相關服務說明等，以中華民國法令為準據法。 會員與Qoupon間因本服務、本會員合約或其相關使用規範、辦法、處理原則、政策、及相關服務說明所生之爭議，如因此而訴訟，以台灣台北地方法院為第一審管轄法院。
                </li>
                </ul>

                <li>
                    <p>法令禁止限制規範 禁止項目：</p>
                    1.酒
                    2.彩券
                    3.爆竹煙火
                    4.人體器官
                    5.報稅憑證
                    6.藥品、醫療器材、動物處方用藥、環境用藥
                    7.贓物或僅有使用權之商品
                    8.菸品及相關廣告刊登
                    9.活體動物及保育類產製品
                    10.毒品及吸毒用品
                    11.槍、砲、彈藥、武器、刀械(模擬槍)
                    12.專用垃圾袋、專用垃圾袋抵價券
                    13.外幣(流通貨幣)之買賣、兌換及其他交易
                    14.其他法令禁止販售之商品 
                    限制項目：這些項目在管制的範圍內是可以合法刊登的。 
                    1.食品 
                    2.化妝品 
                    3.嬰兒配方奶粉 
                    4.須檢驗之商品 
                    5.娛樂交通票券 
                    6.合約限制 
                    7.軍警用品 
                    8.電信管制射頻器材 
                    其他法令規範項目 
                    1.特殊項目：買賣時法令規範較為複雜，故交易須特別留意的項目。 不動產 
                    2.智慧財產權項目：瞭解如何不侵害他人之智慧財產權。 
                    3.剪標品
                </li>
                <li>
                    <p>Qoupon網站政策</p> 
                    會員規則：Qoupon最基本的遊戲規則在此，清楚瞭解後就能放心的在Qoupon自由穿梭囉。
                    <ul>
                    1.不可假冒他人身分 
                    2.提供有效及正確的註冊資料 
                    3.不可公開他人個人資料 
                    4.不可以干擾網站 5.不可發送垃圾郵件 
                    賣家規則：完全遵守賣家規則就能盡情享受的樂趣跟創意。 
                    1.重複刊登 
                    2.刊登至錯誤類別 
                    3.濫用關鍵字 
                    4.郵寄地址清單及個人資料 
                    5.褻瀆、色情及不雅之文字照片 
                    6.違反公序良俗之仲介服務 
                    7.交易條件不明之刊登
                </li>
                <li>
                    <p>
                    	隱私權保護條款 隱私權保護政策的適用範圍 隱私權保護政策內容，包括本網站如何處理在你使用網站服務時所蒐集到的個人識別資料。隱私權保護政策不適用於Qoupon以外的相關連結網站 ，也不適用於非Qoupon所委託或參與管理的人員。 個人資料的蒐集 你在註冊帳號、瀏覽網頁、參加網站活動時，我們會蒐集你的個人識別資料。我們也可以從其他合作夥伴處取得個人資料。當你在註冊時，我們會問及你的姓名、身分證字號、電話、及電子郵件地址等資料。在你註冊成功，並登入使用我們的服務後，我們就會認識你。 
                    </p>
                    <p>
                    	我們蒐集個人資料的目的如下： 行銷業務、非公務機關依法定義務所進行個人資料之蒐集處理及利用、基於契約、類似契約或其他法律關係事務、消費者、客戶管理與服務、消費者保護、商業與技術資訊、網路購物及其他電子商務服務、廣告或商業行為管理、調查、統計與研究分析、其他經營合於營業登記項目或組織章程所定之業務。於一般瀏覽時，伺服器會自行記錄相關行徑，包括你使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等。 
                    </p>
                    <p>
                    	個人資料的處理與利用Qoupon拍賣絕不會出售、交換、或出租任何你的個人資料給其他團體或個人。只有在下列情況除外：
                    </p> 
                    <p>
                    	在你同意提供個人資料的情況下； 經你授權Qoupon提供你所要求的產品或服務；（例如願意收到新品通知） 司法單位因公眾安全，要求Qoupon提供特定個人會員資料時，Qoupon將遵循司法單位合法正式的程序，以及對Qoupon所有使用者安全考量下做可能必要的配合； 有違反任何Qoupon政策、權利、智慧財產權或任何Qoupon或其他會員安全時。 供應商和其他服務供應商 我們可能會與第三者「供應商或服務供應商」合作，來推動我們的服務。例如，我們可能會將我們網站的一個或多個方面的運作外包給其他「供應商」或「服務供應商」，讓他們根據我們的要求展開服務。在某些情況下，「服務供應商」會直接從你那裏收集你的個人資料(例如，在我們要求「服務供應商」為我們進行問卷調查時)。在這些情況下，我們會通知你將有「供應商」或「服務供應商」介入，而且對你所有資料的透露你都有權選擇是否接受。 無論在任何情況下，我們都會限制這些「供應商」或「其他服務供應商」存取、使用及透露你資料的方式且不允許這些「供應商」或「其他服務供應商」將你的資料出售給第三者。
                    </p>

                	<p>查詢、閱覽、更正或刪除個人資料 就我們所蒐集的你的個人資料，你可以隨時向Qoupon申請查詢、閱覽或製給複製本，我們會視情況向你收取必要的費用，但某些情況下例如會妨害國家安全或公務執行者，你的申請我們將無法接受。 當你的個人資料有變更或發現個人資料不正確時，你可以向Qoupon申請補充或更正；當個人資料蒐集之特定目的消失或期限屆滿時，你可以申請停止蒐集、處理、利用或刪除你的個人資料。 原則上，我們尊重你要求補充或更正、刪除、停止蒐集、處理或利用個人資料的權益，但某些情況下例如執行職務或業務所須，你所提出的申請我們將無法接受。 當你提出上述任一申請時，請準備相關證明文件以書面方式提出，我們會在收到你書面申請的次日起15日內，以電子郵件通知你該項申請的結果；必要時，會再延長15日，我們也會以書面方式通知你延長的原因。 資料的保護 我們將盡力以合理之技術及程序，保障所有個人資料之安全。 網站對外的相關連結 Qoupon網站或網頁都可能包含其他網站或網頁的連結，對於此等不屬於Qoupon之網站或網頁，不論關於其內容或隱私權政策，均與Qoupon無關。 Cookie小餅乾之使用 Cookies是伺服端為了區別使用者的不同喜好，經由瀏覽器寫入使用者硬碟的一些簡短資訊。你可以在Netscape的「功能設定」的「進階」或是IE的「Internet選項」的「安全性」中選擇修改你瀏覽器對Cookies的接受程度，包括接受所有Cookies、設定Cookies時得到通知、拒絕所有Cookies等三種。如果你選擇拒絕所有的Cookies，你可能無法使用部份Qoupon上的個人化服務，或是參與部份活動。</p> 
                	<p>依據以下目的及情況，Qoupon會在本隱私權政策原則之下，在您瀏覽器中寫入並讀取Cookies： 為提供更好、更個人化的服務，以及方便您參與個人化的互動活動。Cookies在您註冊或登入時建立，並在您登出時修改。 為統計瀏覽人數及分析瀏覽模式，以了解網頁瀏覽的情況，做為Qoupon改善服務的參考。 個人帳號之保密 請妥善維護你的會員帳號、密碼或任何個人資料。 請留意無論何時你透過網站討論區、電子郵件、或聊天室等公開區域所主動揭露的個人資料，均可能被其他第三人蒐集或使用，上網時請特別小心。 隱私權保護政策之修正 當你使用本網站所提供的服務時，Qoupon將視同你已閱讀、且同意本政策。本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將公告於網站上，請隨時查詢最新公告內容。 如果你不同意本政策，請立即停止使用本網站服務。</p>
                </li>
    </ol>
</div>