<div class="faq">
	<h4 class="text-xs-center p-t-2 p-b-2">Qoupon常見問答</h4>
	<div class='whyQoupon'>
		<h5 class="text-xs-center p-t-1 p-b-1">什麼是Qoupon?</h5>
		<p>&emsp;&emsp; 我們平台和各式各樣的餐廳合作，你只要輕輕滑動你的手指便可獲得店家最新資訊，且只要你追蹤店家便有機會免費的獲得該店家的最新優惠券！我們也提供在你優惠券分享的服務，讓小確幸放大為洋溢的幸福，同時只要你分享的優惠券被越多人擁有或是使用，便有更多的優為回饋給你！
		</p>
	</div>
	<h5  class="m-t-1 m-b-1 text-xs-center">會員常見問答</h5>
	<ul>
		<li>
			<p>加入會員</p>
		</li>
		<li>
			<p>一定要加入會員嗎?<br>
				是的，需加入會員方才可使用享受Qoupon所提供的服務。網站也會保留您的個人資訊與購買紀錄，方便日後的購買與查詢。
			</p>
		</li>
		<li>
			<p>該如何加入會員?</p>
		</li>
		<li>
			<p>Qoupon網頁：請點選「會員登入」，點選使用Facebook登入即可。</p>
		</li>
		<li>
			<p>電子報</p>
		</li>
		<li>
			<p>加入 Qoupon會員即可訂閱 Qoupon的相關優惠活動電子報囉！</p>
		</li>
	</ul>
	<h5 class="m-t-1 m-b-1 text-xs-center">優惠券使用常見問題</h5>
	<ul>
		<li>
			<p>電子優惠券如何使用？</p>
		</li>
		<li>
			<p>電子優惠券是 Qoupon與餐廳配合的特定餐廳優惠虛擬優惠券，您於網站上獲得優惠券後，至餐廳用餐時，您只要出示此餐券的QRcode即可享受優惠。</p>
		</li>
		<li>
			<p>如何獲得優惠券?</p>
		</li>
		<li>
			<p>追蹤店家便有機會獲取該店家的優惠券，或是至合作店家消費便可向店家索取優惠券。</p>
		</li>
		<li>
			<p>是否一定要網路訂位才可使用電子餐券?</p>
		</li>
		<li>
			<p>電子優惠券沒有限制一定要使用網路訂位，可自行與餐廳或其他管道訂位後，付款時使用電子優惠券。</p>
		</li>
		<li>
			<p>是否每家餐廳都有電子優惠券？</p>
		</li>
		<li>
			<p>與我們合作的店家都會不定期推出專屬的優惠券，而餐券的內容都依產品網頁上標示為主。</p>
		</li>
		<li>
			<p>電子優惠券有使用期限嗎?</p>
		</li>
		<li>
			<p>電子優惠券的使用期限皆會標明在優惠券上。若優惠期限結束，電子優惠券便會自動失效。</p>
		</li>
		<li>
			<p>分享優惠券後自己的優惠券是否會消失？</p>
		</li>
		<li>
			<p>不會喔！你可以大方的分享給妳的親朋好友。</p>
		</li>
		<li>
			<p>若優惠已發放完畢，就無法再獲得該優惠券嗎?</p>
		</li>
		<li>
			<p>Qoupon合作店家皆有權力決定該優惠券之發放張數及時間，因此優惠券之獲取需視店家規定而異。另外你可以追蹤有興趣的店家便可以即時收到店家最新的優惠資訊。</p>
		</li>
		<li>
			<p>如何確認在Qoupon獲得的優惠券?</p>
		</li>
		<li>
			<p>你可以在「我的優惠卷列表」中查看你所擁有的優惠券。</p>
		</li>
		<li>
			<p>餐券使用注意事項</p>
		</li>
		<li>
			<p>近來有民眾於網路等管道轉售∕轉讓本公司的禮券，其中有心人士將使用過的電子餐券轉售∕轉讓給他人，請各位消費者透過本公司經營之Qoupon網站等合法管道購買餐券，以免遭不法詐騙。若您非自正規管道獲得我們的優惠券，就因轉售∕轉讓所生之爭議及損害，Qoupon將不負任何法律責任。</p>
		</li>
	</ul>
	<h5 class="m-t-1 m-b-1 text-xs-center">其他問題</h5>
	<ul>
		<li>
			<p>如果對店家不滿意的話，要如何提出申訴?</p>
		</li>
		<li>
			<p>請務必於事發後三日內向「餐廳不滿意通報小組」提出申請，超過三日恕不列入處理範圍。</p>
		</li>
		<li>
			<p>為什麼要使用Qoupon</p>
		</li>
		<li>
			<p>透過我們平台你可以快速取得優惠券，同時我們也提供分享的機制，讓你分享越多享受越多。</p>
		</li>
		<li>
			<p>部分頁面無法瀏覽</p>
		</li>
		<li>
			<p>基於安全的因素，Qoupon網站於 2015-05-18(一) 以後將停止支援 SSLv3 網路安全協定。瀏覽器建議關閉 SSLv3 的支援設定，或使用 IE9 以上、Chrome、Firefox 34 以上的版本。SSLv3 漏洞問題，詳情請參閱下列網址：http://www.icst.org.tw/NewInfoDetail.aspx?seq=1436&lang=zhhttp://disablessl3.com/#why</p>
		</li>
	</ul>
</div>