// Place all the styles related to the admin/base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//bar basic css 

body {
    margin-top: 30px;
}


.main-header,.navbar {
    color: white;
    a {
        color: lightgray;
        &:visited {
            color: lightgray;
        }
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    p {
        color: white;
    }
    .active {
        background-color:$admin-dark-black;
        border-left:solid 3px $orange;
        color: white !important;
        a{
            color: white !important;
        }
    }
    .sub-active{
        color:white !important;
    }
}

.main-header {
    z-index: 1000;
    position: fixed;
    background-color: $admin-main-header;
    width: 100%;
    top: 0;
    height: 50px;
    box-shadow: 2px 2px 2px rgba(20%, 20%, 40%, 0.3);
    .admin-logo{
        width:200px;
        height: 50px;
        background-color:$admin-dark-black;
    }
    .notifications-menu , .triangle{
        padding-top:8px;
        margin-left:0 !important;
        ul{
            padding-top:0;
            margin-top: -5px;
            li{
                height: 25px;
                padding-left:15px;
            }
            a{
                color:#666;
                font-size: 0.9rem;
            }
        }
    }
    .photo-sticker {
        height: 35px;
        border: solid 1px #666;
        border-radius: 2px;
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    #toggle-button{
        display: none;
    }
}

.navbar-fixed-left {
    z-index: 1000;
    width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    top: 50px;
    padding:0;
    background-color: $admin-black;  
    .store-info{
        padding: 20px 20px 0px 15px;

        .photo-sticker-lg {
            display: block;
            width: 160px;
            border: solid 1px #666;
            border-radius: 2px;
            vertical-align: top;
            margin: auto;
        }
        .store-info-word{
            margin-top: 10px;
            font-size: 1rem;
            // text-align: center;
            border-bottom:1px solid gray;
            padding-bottom:10px;
            p{
                margin:0;
                font-size:0.8rem;
            }
        }
    }
    .nav-item {
        margin-left: 0 !important;
        margin-right: 0 !important;
        float:none;
        a{
            padding:12px 15px 12px 20px;
        }
    }
    .sub-left-bar-item{
        display: none;
        background-color:$admin-sub-item-color;
        width:100%;
        a{
            padding:6px 15px 6px 10px;
            margin-left:24px !important;
        }
    }
}

.container {
    padding-left: 200px;
    padding-top: 50px;
}


@media screen and (max-width:767px) {
    .main-header{
        height: 100px;
    }
    .admin-logo{
        display:block;
        width:100% !important;
        text-align: center;
        // background-color:$admin-dark-brown !important;
    }
    .navbar-fixed{
        top:50px;
        width: 100% ;
        #toggle-button{
            display: inline-block;
            border:none;
            background-color:$admin-main-header;
            font-size: 1rem;
            color:white;
            padding:7px 7px 7px 0;
        }
        ul{
            float: right;
        }
    }

    .navbar-fixed-left {
        display: none;
        margin-top: 50px;
    }
    .container {
        padding-top: 100px;
        padding-left:15px;
    }
}
