// Place all the styles related to the admin/coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-new-coupon{
	border-bottom:2px solid black;
}


// admin/coupon/index.html.erb 
.coupon-control{
	color: white;
	border:0;
	border-radius:0.2rem;
	padding: 5px 8px;
	margin: 0 10px;
	background-color:#f08a5d;
}
.coupon-control:visited{
	color:white;
}

.coupon-control-table{
	margin-top:20px;
	thead{
		background-color:#5a5a5a;
		color: white;
		text-align: center;
	}
	tbody{
		text-align: center;
		tr:nth-child(odd){
			background-color:rgb(223,223,223);
		}
		tr:nth-child(even){
			background-color:rgb(254,254,254);
		}
		td{
			vertical-align: middle;
		}
	}
	td:nth-child(6){
		padding-right:2px;
	}
	td:nth-child(7){
		padding-right:5px;
		padding-left:0px;
	}
	@media screen and (max-width: 370px){
		td:nth-child(2){
			display: none;
		}
	}
}
// admin/coupon/index.html.erb
.coupon-control-table-button{
	text-align:center;
	a{
		display:inline-block;
		width:40px;
		padding:5px 0;
		border-radius:0.2rem;
		
	}
	.coupon-control-table-button-send{
		background-color:#f08a5d;
		color:white;
	}
	.coupon-control-table-button-delete{
		border:1px solid #f08a5d;
		background-color:white;
		// background-color:#666666;
		color: #f08a5d;
	}
}
.coupon-control-table-button-info{
	text-align:center;
	width:58px;
	a{
		display: inline-block;
		background-color:white;
		padding:5px 5px;
		border:1px solid rgb(180,180,180);
		border-radius:0.2rem;
	}
}



// admin/coupon/show.html.erb
.coupon-show{
	// border:solid 1px black;
	.coupon-show-bg{
		background-color:white;
		padding:20px;
		margin:35px 0;
		margin-left: 20px;
		box-shadow:4px 4px 6px rgba(20%,20%,40%,0.5);
		// margin:auto 0;
	}
	.coupon-show-first{
		display: inline-block;
		width: 50%;
		td{
			vertical-align: top;
		}
		td:nth-child(1){
			width: 100px;
		}
	}
	.coupon-show-second{
		display: inline-block;
		text-align: center;
		width: 49%;
		vertical-align:top;
		img{
			width: 100%;
		}
	}
	@media screen and (max-width: 991px){
		.coupon-show-bg{
			margin:0 5px 20px 0;
		}
		.coupon-show-second{
			width: 100%;
		}
		.coupon-show-first{
			margin-top: 13px;
			width: 100%;
		}
	}
	.btn-use{
		color: white;
		border:0;
		border-radius:0.2rem;
		padding: 5px 8px;
		margin: 0 10px;
		background-color:#f08a5d;
	}
}




