// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-outline-set{
	padding:10px 40px;
	border:1px solid lightgrey;
	border-radius:0.2rem;
}


.admin-for-new{
	.admin-for-new-block{
		display: inline-block;
		width: 30%;
		height: 170px;
		margin: 5px 10px 20px 10px;
		vertical-align: top;
		position:relative;
		span:nth-child(1){
			display: inline-block;
			color: white;
			width: 40px;
			height: 40px;
			// text-align: center;
			padding-left:13px;
			vertical-align: middle;
			padding-top:11px;
			font-size: 23px;
		}
		span:nth-child(2){
			font-size: 16px;
			// display: inline-block;
			height: 40px;
			vertical-align: middle;
			padding-left:3px;
		}
		div{
			padding:5px 20px;
		}
		.admin-btn{
			position:absolute;
			bottom:10px;
			right: 20px;
			border-radius:0.2rem;
			color: white;
			padding:4px 5px;
		}
	}
	.admin-for-new-1{
		border:1px solid $orange;
		span:nth-child(1){
			background-color:$orange;
		}
		.admin-btn{
			background-color:$orange;
		}
	}
	.admin-for-new-2{
		border:1px solid #f7dc77;
		span:nth-child(1){
			background-color:#f7dc77;
		}
		.admin-btn{
			background-color:#f7dc77;
		}
	}
	.admin-for-new-3{
		border:1px solid #5ca89d; 
		span:nth-child(1){
			background-color:#5ca89d;
		}
		.admin-btn{
			background-color:#5ca89d;
		}
	}
	@media screen and (max-width: 768px){
		.admin-for-new-block{
			width: 100%;
		}
	}

}


.admin-timeline{
	.admin-big-issue{
		img{
			width: 70%;
			// width: 50px;
		}
	}
	table{
		width: 100%;
		td:nth-child(1){
			width: 70px;
			padding-left:10px;
		}
		td{
			font-size: 16px;
		}
		tr{
			height: 35px;
		}
	}
	.admin-month{
		background-color:lightgrey;
		height: 55px;
		td{
			font-size: 22px;
		}
	}
}





.analysis-box{
	max-width: 500px; 
	// height: 400px; 
	// margin: 0 auto;
	height:200px;
	width:48%;
	min-width:200px;
	display:inline-block;
	padding: 0 5px;
}
@media screen and (max-width: 991px){
	.analysis-box{
		width: 100%;
	}
}

.admin-sm-logo{
	display:none;
}
@media screen and (max-width: 576px){
	.admin-sm-logo{
		display: inline-block;
	}
	.admin-nav-sm{
		margin-top: -50px;
	}
	.navbar-fixed-left{
		margin-top: 0px;
		a{
			font-size: 16px;
		}
	}
	.container{
		padding-top:50px;
	}
	.test{
		overflow: scroll;
	}
	.admin-sm-pic{
		width: 60px !important;
		display: inline-block !important;
		margin: 0 !important;
	}
	.admin-sm-word{
		margin-top: 7px !important;
		display: inline-block;
		border:0 !important;
	}
	.admin-sm-hr{
		border-bottom:1px solid grey;
		margin: 7px 10px 0 10px;
	}
	.admin-sm-set{
		z-index: 20 !important;
		padding-bottom:14px;
			a{
				font-size: 16px !important;
				padding-top:21px;
				padding-bottom:14px;
				margin-top:7px;
				margin-bottom:7px;
			}
	}
}

