// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-outline-set{
	padding:10px 40px;
	border:1px solid lightgrey;
	border-radius:0.2rem;
}

.admin-notification{
	.admin-now{
		width:90px;
		font-size:24px;
		padding:10px;
		border: 3px solid lightgrey;
		text-align: center;
	}
	.admin-part{
		padding:20px 0;
		border-left:3px solid lightgrey;
		margin-left: 43px;
		div{
			width: 500px;
			margin-left: 30px;

		}
	}
	.admin-info{
		.admin-dot{
			display: inline-block;
			width: 15px;
			height: 15px;
			border:2px solid lightgrey;
			border-radius:100%;
			margin-top: 2px;
			margin-left: 37px;
		}
		.admin-dot-part{
			display: inline-block;
			border: 1px solid lightgrey;
			margin-left: 20px;
		}
	}
}