
<div class="col-sm-8 col-lg-6 offset-sm-2 offset-lg-3 background-white">
	<h5>編輯貼文</h5>
	<%= render 'form' %>
</div>
<div class="col-sm-10 col-lg-9">
	<%= link_to '返回', root_path , class:'pull-xs-right' %>
</div>