// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************************************/
/**************  basic  *******************/
/****************************************/

// .comment-form {
//     display: none;
// }

// home/index.html.erb
// 個人介紹
.home-self{
	padding:0;
	.home-block{
		padding:10px 15px;
	}
	.home-profile{
		img{
			vertical-align:top;
			width: 40%;
			border-radius:0.2rem;
		}
	}
	.home-self-name{
		width: 58%;
		display: inline-block;
		// padding:0;
		padding-top:15px;
	}
}
// 推薦的店家
.home-recommand-store{
	padding-bottom:10px;
	.home-like-eachStore{
		padding-left:3px;
		margin:3px 0;
		.home-store-pic{
			width: 100%;
			display: inline-block;
			img{
				width: 100%;
			}
		}
		.home-like-part{
			.home-store-about-title{
				font-size: 16px;
			}
		}
	}
}
// 喜歡的店家
.home-like-store{
	padding-bottom:10px;
	.home-like-eachStore{
		padding-left:3px;
		margin:3px 0;
		border-left:3px solid $orange;

		.home-store-pic{
			width: 45px;
			display: inline;
		}
		.home-like-part{
			display: inline;
		}
	}
}

@media screen and (min-width:884px) and (max-width:991px){
	.home-self{
		margin-left:-10%;
		width:192px;
	}
	.home-like-store{
		margin-right:-10%;
		width:192px;
	}
}
@media screen and (min-width:767px) and (max-width:883px){
	//  4 28.797    //  3 21.594
	.home-self{
		margin-left:-3%;
		width:141.594px;
	}
	.home-like-store{
		margin-right:-3%;
		width:141.594px;
		.home-like-eachStore{
			border:0;
		}
		span{
			display: block;
		}
	}
}
@media screen and (max-width: 768px){
	.home-self, .home-like-store{
		display: none;
	}
}



// devise/regitrations/edit.html.erb
.person-block{
	border:1px solid lightgrey;
	padding:0;
	background-color:white;
	border-radius:0.2rem;
	.person-block1{
		 padding:0;
	}
	ul{
		padding:0;
		li{
			list-style-type:none;
			font-size: 18px;
			padding:20px 0 20px 30px;
		}

		.person-noactive:hover{
			border-left: 3px solid lightgrey;
		}
		.person-active{
			border-left:3px solid $orange;
		}
	}

	
	.person-block-info{
		border-left:1px solid lightgrey;
		padding-top:20px;
		div{
			padding:auto 0;
			// vertical-align: middle;
		}
		.person-info-button{
			background-color:$orange;
			color:white;
			border-radius:0.2rem;
		}
	}
	@media screen and (max-width:767px){
		ul{
			li{
				display: inline-block;
				padding:10px 0 0 0;
			}
			li:nth-child(1){
				padding-left:15px;
				padding-right:10px;
			}
			.person-active{
				border-left:0;
			}
			.person-noactive:hover{
				border-left:0;
			}
		}
		.person-block-info{
			border-left:0;
		}
	}
}

@media screen and (min-width: 991px){
	.margin-10{
		padding:0 10%;
	}
}