// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color:rgb(240,138,93);


// faq的控制
.faq{
	.whyQoupon{
		padding:3%;
		border:2px solid $main-color;
		border-radius:3px;
	}
	ul{
		padding:0 3%;
		li{
			list-style:none;
			display: flex;
			.icon{
				width: 10%;
				color: 	#F0F0F0;
				text-align: center;
				span{
					border-radius:100%;
					
				}
				.Q{
					background-color:$main-color;
					padding:15%;
				}
				.A{
					background-color:#7B7B7B;
					padding:10%;
				}
			}
			p{
				width: 90%;
				margin:0;
				font-size: 14px; 
			}
		}
		li:nth-child(odd){
			background-color: #d0d0d0;
			padding:2% 3%;
			margin: 2% 0;
			border-radius: 10px;
		}
		li:nth-child(even){
			padding:1% 3% 2% 3%;
			margin-bottom:2%;
		}
	}
	table{
		width: 80%;
		margin: 0 10% 0 10%;
		th{
			text-align: center;
			border:1px solid black;
			border-collapse:collapse
		}
		th:nth-child(1){
			width: 20%;
		}
		th:nth-child(2){
			width: 40%;
		}
		th:nth-child(3){
			width: 40%;
		}
	}
}

@media (min-width: 991px) {
	.faq{
		margin: 0 auto;
		width: 800px;
	}
}





// admin-landing page
.admin-first-block{
    margin-top: -16px;
    position:relative;
    .admin-first-word{
        position:absolute;
        top:30%;
        left:5%;
        .title{
            color: $orange;
            font-size: 28px;
        }
        .subtitle{
            color: white;
        }
        .subtitle1{
            font-size: 20px;
        }
    }
}
.admin-row{
    margin: 0;
    h5{
        font-size: 18pt;
        font-weight: 900;
    }
}
.admin-content{
    margin-top:50px;
}
.admin-small-word{
    padding-top:30px;
    vertical-align: middle;
}
.admin-start-qoupon{
    background-color:#666;
    padding:100px 0;
    h5{
        color: white;
        font-size: 22pt;
    }
    .admin-sign-btn>a{
        background-color:$orange;
        border-radius:0.2rem;
        padding:9px 15px;
        margin: 0 10px;
        color: white;
    }
}
.admin-footer{
    background-color:#363636;
    color: white;
    a{
        color: white;
    }
}

.function-intro{
    color: $orange;
    font-size: 24px;
}
.function-intro-border{
    width: 20px;
    border-top:3px solid $orange;
}
@media (max-width: 768px) {
    .admin-small-word{
        padding-top:0;
    }
}
@media (max-width: 544px) {
    .admin-small-word{
        padding-top:20px;
        h5{
            text-align: center;
        }
    }
    .admin-content{
        margin-top:20px;
    }

}
