// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-white{
	background-color:white;
	border-radius:0.2rem;
	border:solid lightgray 1px;
	margin-bottom:10px;
	padding-top:10px;
}

#post-form{
	#post{
		.post-button{
			background-color:$orange;
			color:white;
			font-weight: 300;
		}
	}
}

.post-without-comment{
	.avatar{
		width:45px;
		border:solid lightgray 1px; 

	}
	.name-and-time{
		padding-top:3px;
		.name{
				margin-bottom:0px;
				font-weight:500;
		}
	}
	.text{
		padding-left:7px;
		border-left:solid 3px $orange;
		font-weight: normal;
		font-size: 1rem;
		color: #666;
	}
}
@media screen and (max-width:439px){
	.post-without-comment{
		.avatar{
			width:35px;
		}
		.name-and-time{
			padding-top:0;
		}

	}
}
@media screen and (max-width:768px) and ( min-width:360px){
	.post-without-comment{
		.activity-post{
			.name-and-time{
				padding-left:0px;
				// margin-left:10px;
			}
		}
	}
}
/////////////////////////////////////////////////
.comment-actions{
	background-color:$background-with-color;
	.comment-in-post{
		display: flex;
		padding:5px 0px;
		font-size: 0.8rem;
		.avatar{
			width:30px;
			border:solid lightgray 1px; 
		}
	}

	.comment-info{
		padding:5px 0;
		background-color:white;
		border-top:solid lightgray 1px;
		border-bottom:solid lightgray 1px;
		font-size: 0.8rem;
	}

	.comment-user-info{
		flex:none;
		margin-right: 0.5rem;
	}

	.content{
		flex:10 ;
		.name{
			margin-bottom: 0;
			vertical-align: top;
			a{
				font-weight: 600;
				font-size: 0.8rem;
			}
		}

	}
	.comment-delete{
		flex:1;
		.close span{
			font-size: 0.6rem;
		}
	}

	.comment-form{
		padding-top:10px;
		.like{
			.liked-orange{
				color:$orange;
			}
			.liked-gray{
				color:lightgray;
			}
			.liked{
				border:none;
				background-color:transparent;
				font-size: 1.6rem;
			}
		}
	}

}

@media screen and (max-width:439px){
	.comment-actions .comment-in-post .avatar{
		width:25px;
	}
	.like .liked{
		font-size: 1.5rem !important;
	}
}
@media screen and (max-width:400px) {
	.comment-form-input{
		width: 88%;
	}
}





