$bar-bgcolor: white;
$bar-font-size: 16px;
$bar-word-color:#f9ed69;//#F7C103;
$background-with-color:rgba(198, 156, 109, 0.1);//rgb(228,220,214);背景橘
$background-color:#f5f5f5;//灰
$orange:rgb(240,138,93);//真的橘

///////////////////////////////////
//亂寫覆蓋顏色
.btn-outline-warning{
  color:$orange;
  border-color:$orange;
}
.bg-warning{
  background-color:$orange !important;

}
a.bg-warning:hover{
    background-color:$orange !important;
  }

//////////////////////////////////////
body {
  background-color: $background-color;//#fafafa
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  
  &:visited {
    color: #666;
  }

  &:hover {
    color: gray;
    //background-color: #000;
    text-decoration: none;
  }
}


div {
  &.field {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 14px;
    list-style: square;
  }
}

body{
  margin-top: 80px;
}


/****************************************/
/**************  bar  *******************/
/****************************************/
/******* bar基本設定  *******/


//只有front的bar
#mainbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    #main {
        background-color: white;
        text-align: center;
        img {
            height: 50px;
        }
        ul {
            margin: 0;
            padding: 0 0 10px 0;
            li {
                display: inline;
                padding: 0 2% 0 2%;
            }
        }
        .log {
            position: absolute;
            top: 30%;
            right: 3%;
         }
        
    }
    #shape {
            text-align: center;
    }
}




////////////////////////////
///////其餘的bar/////////////
///////////////////////////
    .photo-sticker {
        //width: 50px;
        height:35px;
        //border-radius: 50%;
        border: solid  1px lightgray;
        
    }
    #greeting {
        border-right: solid;
        border-width: 2px;
        padding-right: 5px;
    }


.navbar{
        background-color:white;
        box-shadow: 2px 2px 2px rgba(20%,20%,40%,0.3);
        padding-top:0;
        padding-bottom:0px;        


        #navbar-brand .bar-logo{
                width:130px;
            }

}
 .dropdown-menu{
          box-shadow: 2px 2px 2px rgba(20%,20%,40%,0.2);
        }

    
        #nav-choice{
          .nav-item:nth-child(1){
            margin-left:calc(( 100% - 670px ) / 2 );
          }
          li{
                height:50px;
          }
          .active{
              border-bottom:solid $orange 5px;
          }
          a{
            padding-top:0.9rem;
            padding-bottom:1rem;
            // height: 100%;
            margin:auto 0;
            // text-align: center;
            // vertical-align:middle;
          }
        }

        .pull-md-right{
            li{
                height:50px;
                a{
                padding:0px;
                }
            }
            #settings{
                padding-top:14px;
                margin-left:0px;
                i{
                    color:gray;
                     font-size: 1.5em;
                }
                .dropdown-menu li{
                    height:30px;
                    padding-left:15px;
                    
                    a{
                        height:100%;
                    }
                }
            }
        }
 @media screen and (max-width:768px){
  #nav-choice{
    .nav-item:nth-child(1){
      margin-left:0;
    }
    li{
      height:30px;
      a{
        padding-top:0.3rem;
        padding-bottom:0.4rem;
      }
    }
    .active{
      border-left:solid $orange 5px;
      border-bottom:none;
      padding-left:0.4rem;
      margin-left:-0.6rem;
    }
  }
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }

}






