// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-deck-wrapper{
	.card-block{
		padding:0.5rem;
		p{
			margin-bottom:0px;
		}
	}
}

@media (min-width: 1200px) {
	.card-deck-wrapper{
		width:80%;
		margin:auto;
	}
}
@media (min-width: 720px) {
	.card-deck {
	  display: flex;
	  justify-content: flex-start;
	  flex-flow: row wrap; 
	  align-items: stretch;
	}
	.card-deck .card {
	  display: block;
	  flex-basis: 30%;
	  margin:0.5rem;
	}
}
@media (min-width: 540px) and (max-width:719px){
	.card-deck {
	  display: flex;
	  justify-content: flex-start;
	  flex-flow: row wrap; 
	  align-items: stretch;
	}
	.card-deck .card {
	  display: block;
	  flex-basis: 47%; 
	  margin:0.4rem;
	}
	.card-deck-wrapper{
		width:99.5%;
		margin:auto;
	}
}






// 店家申請頁面
#title{
	h1{
		font-size: 20pt;
		display: inline-block;
		width:35%;
	}
	#title-con{
		display: inline-block;
		width:64%;
		margin: 3% 0 0 0;
		text-align: right;
		.circle{
			background-color:rgb(229,229,229);
			border-radius:100%;
		    display: inline-block;
		    width: 25px;
		    padding:2px 0 2px 9px;
		    text-align: left;
		    color: rgb(172,172,172);
		}
		.border{
			border:1px solid rgb(229,229,229);
			margin: 0 -6px 4px -5px;
			display: inline-block;
			width: 120px;
		}
		.circle1{
			background-color:rgb(240,138,93);
			color: white;
		}

		.border2{
			border-color:#f08a5d;
		}
		.circle2{
			background-color: rgb(247,220,119);
			color: white;
		}
		.border3{
			border-color:rgb(247,220,119);;
		}
		.circle3{
			background-color:rgb(92,168,157);
			color: white;
		}
	}
	ul{
		list-style-type: none;
		text-align: right;
		margin:0 0 5% 0;
		padding:0;
		li{
			display: inline-block;
		}
		li:nth-child(1){
			width:120px;
		}
		li:nth-child(2){
			width:140px;
		}
		li:nth-child(3){
			width:120px;
		}
	}
}
#contact-part{
	padding:15px 20px 15px 20px;
	border:1px solid rgb(235,235,235);
	
	@media screen and (max-width: 591px){
		margin:0;
	}
	
	//控制按鈕大小顏色 
	.next{
		width:100px;
		color: white;
		background-color:#f08a5d;
		border:0;
		border-radius:0.2rem;
	}

	.bottom{
		a{
			text-decoration:none;
			color: inherit;
			span{
				border:1px solid black;
				border-radius:100%;
				padding:0 6px 2px 5px;
			}
		}
	}
}
.pass-content{
	padding:15px 20px 15px 30px;
	border:1px solid rgb(235,235,235);
	.pass{
		padding: 5% 0 5% 0;
		width:15%;
	}
	hr{
		width:70px;
		border-top:3px solid #f08a5d;
		margin:30px auto;
	}
	div{
		margin:30px 0;
		p{
			margin:0;
		}
	}
	.button_to{
		display: inline-block;
	}
	.complete-back-to-personal{
		color: white;
		border:0;
		// border:0 1px 1px 0;
		border-radius:0.2rem;
		height: 50px;
		width:170px;
		margin: 0 10px;
	}
	.complete_button_1{
		background-color:#f08a5d;
	}
	.complete_button_2{
		background-color:rgb(102,102,102);
	}
}


button:focus{
	outline:none;
}

@media screen and (min-width: 990px){
	.container{
		// margin-right:15%;
		// margin-left: 15%;
	}
}
@media screen and (max-width: 544px){
	.container{
		#title{
			text-align: center;
			h1{
				width:100%;
			}
			ul{
				text-align: center;
				li:nth-child(n){
					width:75px;
					padding-left:4px;
				}
			}
			#title-con{
				width: 100%;
				text-align: center;
				.border{
					width: 60px;
				}
			}
		}
	}
}

// 合約iframe
.contract-content-bgcolor{
	background-color:white;
}

// stores/show.html.erb
.store-show{
	max-width:800px;
	margin:0 auto;

}
.cou-store-bgpic{
	img{
		max-height: 400px;
		max-width: 90%;
	}
	.vertical-middle{
		background-color:black;
		height: 400px;
		line-height: 400px;
	}
	@media screen and (max-width:768px){
		.vertical-middle{
			height: 300px;
			line-height: 300px;
		}
		img{
			max-height: 300px;
			max-width: 100%;
		}
	}
}
.cou-icon{
	width:30px;
}
.cou-info-coupon{
	border-top:2px solid lightgray;
	display:block;
	h6{
		font-size: 20pt;
	}
	.cou-info-detail{
		border-radius:0.2rem;
		border:1px solid lightgray;
		padding-left:20px;
		padding-bottom:10px;
		margin-bottom:10px;
		background-color:white;
		.cou-info-detail-title{
			border-left:15px solid #f08a5d;
			padding: 10px 0 10px 20px;
			font-size: 14pt;
		}
		.cou-info-detail-content{
			padding-left:15px;
		}
	}
}



