<div class="background-white p-x-1 p-t-1 p-b-3">
	<h5>優惠券</h5>
	<h6>兌換者：<%=@admin_coupon.user.name%></h6>
	<h6>兌換折數：<%=@admin_coupon.computed_discount%></h6>
	<p class="m-y-0">商品單價：</p>
	<p class="m-y-0">總價：</p>
	<div class="pull-right">
	<%= link_to "兌換",admin_redeem_path(@store,@admin_coupon), :confirm => '確認兌換?', :method => :post, class:"admin-btn-orange white-hover m-x-0"  %>
	</div>
</div>