<!DOCTYPE html>
<html>

<head>
    <title>Q胖 | 累進式優惠平台</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <script src="//js.pusher.com/2.0/pusher.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
        <div class="row">
            <%= yield %>
        </div>
    </div>      
</body>

</html>